.site-header {
  background: linear-gradient(to right, #1E90FF, #007BFF);
  padding-left: 1rem;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-content h1{
  font-size: 1.8rem;
}

.header-actions a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.trial-button {
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 0.9rem;
}
